#remote_videos {
  width: 1098px;
  height: 750px;
  margin: 20px auto;
}

.videos-inner {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.videos-inner .videoWrap {
  position: relative;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  -webkit-box-flex: var(--grow);
  -ms-flex-positive: var(--grow);
  flex-grow: var(--grow);
}

.videos-inner .videoWrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.videos-inner .display_name {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 0.8rem 1.5rem;
  color: white;
  font-weight: bold;
  font-family: Arial;
  border-radius: 20px;
  max-width: 98%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 2;
  font-size: 0.95rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.videos-inner .display_name p {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

#lider-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

#lider-meeting-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #191b28;
}

#lider-video-area {
  /* flex-direction: column;
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #191b28; */
  padding: 20px;
  padding-left: 20px;
  width: 100%;
  height: 90vh;
}

#lider-videos {
  width: 100%;
  height: 100%;
}

#lider-toolbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #1c1f2e;
  flex-direction: row;
  justify-content: space-between;
  border-color: #272a38;
  border-style: solid;
  border-width: 1px;
}

.lider-toolbox-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #252737;
  height: 40px;
  width: 100px;
  margin: auto 8px;
  border-color: #2d2d3d;
  border-style: solid;
  border-width: 1px;
}

#lider-toolbox-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#lider-toolbox-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#lider-hangup {
  background-color: #df3d3c;
}

/* CSS of video */
/* .Scenary {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
} */

/* Container of Screen and Dish */
.Conference {
  display: flex;
  flex: 1;
  border-radius: 4px;
  gap: 20px;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}

/* Container of Cameras */
.Lider {
  overflow: scroll;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex: 1;
  border-radius: 4px;
  overflow-x: hidden;
}

/* Camera */
.Lider > div {
  position: relative;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  box-shadow: var(--shadow-dark);
  background-color: #2a2d41;
  animation: show 0.4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: center;
}

/* Video (check the nice property object-fit) */
.Lider > div video {
  position: absolute;
  right: 0;
  object-fit: cover;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  left: 0;
  top: 0;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: margin-top 1s ease-in-out;
  -moz-transition: margin-top 1s ease-in-out;
  -o-transition: margin-top 1s ease-in-out;
  transition: margin-top 1s ease-in-out;
}

/* Animation of Loading Video */
.Lider > div video.loading {
  margin-top: 100%;
}

/* Aspect Ratio Number */
.Lider div:after {
  color: #aaa;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 20px;
  left: 23px;
  font-weight: 100;
  /* content: attr(data-aspect); */
  display: block;
}

/* Gray Diagonal */
.Lider div:before {
  position: absolute;
  height: 100%;
  background: url(./../general/diagonal.jpg);
  background-size: 100% 100%;
  width: 100%;
  opacity: 0.3;
  font-weight: 100;
  content: "";
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Screen */
.Screen {
  /* flex: 3; */
  width: 80%;
  background: transparent;
  opacity: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Screen-video {
  object-fit: fill;
  border-radius: 10px;
  background: #000;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Animation of Cameras */
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.4) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.lider-camera {
  position: relative;
  /* background-color: #3f4461; */
}

.lider-camera-video {
  visibility: visible;
}
.lider-username-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 14px;
  background: #00000070;
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}

.lider-audio-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 14px;
  background: #0e79f8;
  color: #ffffff;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
}

#popup {
  z-index: 9999;
}

#popup .bg-white {
  width: 400px;
  max-height: 120px;
  margin-top: 128px;
}

#close-popup {
  float: right;
}
